.amy-advance-search
	margin-bottom: 30px

	.search-inner
		.filters
			display: flex
			margin-bottom: 10px

			select
				margin-left: 10px

				&:first-child
					margin-left: 0

		input[type="submit"]
			margin-top: 10px