$bg-intro-column-table: #e5e5e5
$border-color: #d4d4d4
$bg-table-row-0: #eeeeee
$bg-table-row-1: #f4f3f1

//Showtimes 1
.amy-movie-showtimews-1
	.amy-movie-list

		.amy-movie-items
			.amy-movie-item
				@include clearfix
				margin-bottom: 30px
				padding-bottom: 25px
				border-bottom: 1px dotted $border-color

				&:last-child
					border-bottom: none
					padding-bottom: 0

				.amy-movie-item-front
					width: 264px

					img
						max-width: 100%
						height: auto

				.amy-movie-item-back
					.amy-movie-item-back-inner
						.amy-movie-item-content
							padding: 0px 0 5px 30px

							@media (max-width: 480px)
								padding: 10px 0

							.amy-movie-field-title
								font-size: 25px
								padding-right: 0

							.amy-movie-field-imdb
								right: 0
								top: 10px

								@media (max-width: 660px)
									display: none

					.amy-movie-item-showtimes
						padding: 5px 0 5px 30px
						height: 100%
						overflow: hidden

						@media (max-width: 480px)
							padding: 10px 0

	.amy-movie-item-showtimes
		.showtimes-cinema-group
			margin-top: 30px
			overflow: hidden

			&:first-child
				margin-top: 15px

			.amy-movie-intro-cinema
				font-size: 18px
				font-weight: 700
				text-transform: capitalize
				margin: 0 0 10px 0

			.amy-movie-times
				display: -webkit-box
				display: -ms-flexbox
				display: flex
				-ms-flex-wrap: wrap
				flex-wrap: wrap
				border-top: 2px solid $theme-color
				font-family: $headings-font-family

				@media (max-width: 992px)
					display: block
					border-top: none

				.amy-cell
					font-size: 15px
					-ms-flex-preferred-size: 0
					flex-basis: 0
					-webkit-box-flex: 1
					-ms-flex-positive: 1
					flex-grow: 1
					max-width: 100%
					text-align: center
					word-wrap: break-word
					box-sizing: border-box
					margin: 0 2px

					@media (max-width: 992px)
						display: block

					&:first-child
						margin-left: 0
					&:last-child
						margin-right: 0

					&.current-date
						color: $headings-color

						.amy-cell-inner
							.amy-head
								background: $theme-color

							.amy-intro-times

								div
									background: $theme-color
									cursor: pointer


					.amy-cell-inner
						.amy-head
							padding: 4px 0
							margin-bottom: 6px
							background: $bg-intro-column-table

							div
								line-height: 22px

						.amy-intro-times
							margin-bottom: 2px

							div
								margin-bottom: 2px
								padding: 3px 0
								background: $bg-intro-column-table
								@include transition-all()
								cursor: pointer
								display: inline-block
								width: 100%

								@media (max-width: 992px)
									width: auto

								@include hover
									background: $theme-color


						.button
							margin-top: 3px
							padding: 7px 0
							font-size: 14px
							color: #fff
							background: $theme-color
							transition: none
							width: 100%
							display: block
							text-transform: capitalize


							@include hover
								color: $white-color
								background: -webkit-linear-gradient(left, $gradient-color-first, $gradient-color-last)
								background: -o-linear-gradient(right, $gradient-color-first, $gradient-color-last)
								background: -moz-linear-gradient(right, $gradient-color-first, $gradient-color-last)
								background: linear-gradient(to right, $gradient-color-first, $gradient-color-last)


//Showtimes 2
.amy-movie-showtimews-2
	.amy-movie-showtimews-wrapper
		width: 100%
		display: table

		.amy-movie-showtimews-row
			display: table-row
			background: $bg-table-row-1

			&.row-1
				background: $bg-table-row-0

			&.header
				background: $bg-table-row-0



				.amy-movie-showtimews-cell
					padding: 25px 2px
					border-right: 1px dotted $border-color
					border-bottom: 1px dotted $border-color
					vertical-align: middle

					.showtimes-day
						display: block

					&:first-child
						border-right: none
					&:last-child
						border-right: none

					@media (max-width: 660px)
						display: none

					&.showtimes-title-cell
						padding-left: 0
						width: 490px

						@media (max-width: 900px)
							width: 174px
						@media (max-width: 700px)
							width: 120px
						@media (max-width: 660px)
							display: block
							width: 100%
							padding-left: 15px
							padding-right: 15px

					&.w120
						width: 120px

						@media (max-width: 1600px )
							width: 30px

						@media (max-width: 900px )
							width: 15px

				.showtimes-title
					font-size: 25px
					margin: 0
					font-weight: bold
					text-transform: capitalize
					display: inline-block
					line-height: 1


				.showtimes-day
					font-size: 16px
					font-family: $headings-font-family
					font-weight: bold
					color: $headings-color
					line-height: 1

					@media (max-width: 1120px)
						font-size: 15px !important

				.amy-navigation-movie
					display: inline-block

					a
						display: inline-block
						width: 38px
						height: 38px
						border-radius: 50%
						border: 2px solid #e1e1e1
						margin: 0 3px
						text-align: center
						line-height: 36px
						color: #c2c2c2

						@include hover
							color: $theme-color
							border-color: $theme-color

				h5
					font-size: 16px
					text-transform: uppercase
					font-weight: bold
					margin: 0 0 3px 0

					@media (max-width: 1120px)
						font-size: 15px !important
						text-transform: capitalize

			.amy-movie-showtimews-cell
				padding: 30px 1px

				text-align: center

				display: table-cell
				vertical-align: top

				border-right: 1px dotted $border-color
				border-bottom: 1px dotted $border-color

				@media (max-width: 900px)
					padding: 15px 1px

				@media (max-width: 660px)
					display: block
					padding: 15px

				&:first-child
					border-right: none
					@media (max-width: 660px)
						display: none

				&:last-child
					border-right: none

					@media (max-width: 660px)
						display: none

				.intro-date-time
					display: none

					@media (max-width: 660px)
						display: block

				.showtimes-header-inner
					display: flex
					align-items: center

				.showtimes-day
					display: none
					font-size: 16px
					font-family: "Roboto Condensed", sans-serif
					font-weight: bold
					color: #202020

					@media (max-width: 900px)
						display: block

				.amy-movie-item
					text-align: left

					.amy-movie-item-front
						max-width: 174px
						float: left

						@media (max-width: 360px)
							max-width: 120px

						.amy-movie-item-poster
							position: relative

							@media (max-width: 700px)
								width: 120px

							@media (max-width: 660px)
								width: 100%



							.amy-movie-field-imdb
								display: inline-block
								width: 40px
								height: 40px
								border-radius: 50%
								background: $theme-color
								color: #fff
								text-align: center
								line-height: 40px
								position: absolute
								bottom: 8px
								right: 8px

					.amy-movie-item-back

						@media (max-width: 900px)
							display: none

						@media (max-width: 660px)
							display: block



						.amy-movie-item-content
							padding-top: 0


						.amy-movie-field-title
							padding: 0
							font-size: 22px

							a
								color: $headings-color

								@include hover

									color: $theme-color

						.amy-movie-custom-field-group
							.amy-movie-custom-field-content
								color: $headings-color
							a
								color: $headings-color

								@include hover
									color: $theme-color

				.button
					margin: 0
					font-size: 13px
					color: #fff
					padding: 10px 7px 9px 7px
					display: inline-block
					-webkit-transition: none
					transition: none
					text-transform: capitalize
					background: $theme-color



					@include hover
						color: $white-color

				.amy-movie-intro-times
					display: block
					margin-bottom: 10px

					span
						display: inline-block
						font-size: 15px
						background: #e1e1e1
						padding: 9px 18px 7px 18px
						line-height: 1
						cursor: pointer
						font-family: $headings-font-family
						@include transition-all()

						@include hover
							background: $theme-color



//Showtimes Daily 1
.amy-movie-showtimews-daily-1
	.amy-showtimes-header
		background: $bg-table-row-0
		margin-bottom: 45px

		@media (max-width: 992px)
			margin-bottom: 15px

		.amy-showtimes-header-inner
			max-width: 1170px
			padding: 0 15px
			margin: auto
			text-align: center


			ul
				list-style: none
				padding: 0
				margin: 0

				li
					display: inline-block
					padding: 30px 0


					&.active
						a
							span
								color: $theme-color

					&:first-child
						a
							border-left: 1px dotted #d4d4d4

					a
						display: inline-block
						border-right: 1px dotted #d4d4d4
						padding: 0 20px
						min-width: 150px

						@media (max-width: 1100px)
							min-width: 1px

						span
							display: block
							font-size: 15px
							font-family: $headings-font-family
							color: $headings-color
							font-weight: bold
							line-height: 18px
							@include transition-all()


						@include hover
							outline: none
							text-decoration: none
							color: $theme-color
							span
								opacity: 0.8

	.amy-movie-list
		max-width: 1170px
		margin: auto
		padding: 0 15px

		.amy-movie-items
			.amy-movie-item
				border-bottom: 1px dotted #d4d4d4
				padding-bottom: 30px
				margin-bottom: 30px

				@include clearfix

				&:last-child
					border-bottom: none
					padding-bottom: 0

				.amy-movie-item-front
					width: 214px
					max-height: 321px
					overflow: hidden

				.amy-movie-item-back
					.amy-movie-item-back-inner
						.amy-movie-item-content
							padding: 5px 0 5px 30px

							@media (max-width: 480px)
								padding: 5px 0

							.amy-movie-field-imdb
								right: 0
								top: 15px

								@media (max-width: 640px)
									display: none

							.amy-movie-field-title
								font-size: 25px
								padding-right: 0


	.amy-movie-item-showtimes
		padding: 21px 0 0px 0
		margin-top: 15px
		margin-left: 30px
		border-top: 1px dotted #d4d4d4
		position: relative



		.amy-movie-intro-times
			span
				display: inline-block
				padding: 9px 20px 7px 20px
				background: #e1e1e1
				font-family: $headings-font-family
				margin-right: 6px
				margin-bottom: 6px
				font-size: 15px
				line-height: 1
				float: left
				@include transition-all()
				cursor: pointer

				@include hover
					background: $theme-color


			.button
				padding: 6px 8px
				text-transform: capitalize
				margin: 0
				color: #fff
				background: $theme-color
				transition: none
				display: inline-block

				@include hover
					color: $white-color
					background: -webkit-linear-gradient(left, $gradient-color-first, $gradient-color-last)
					background: -o-linear-gradient(right, $gradient-color-first, $gradient-color-last)
					background: -moz-linear-gradient(right, $gradient-color-first, $gradient-color-last)
					background: linear-gradient(to right, $gradient-color-first, $gradient-color-last)

	&.amy-ajax-showtime-loading
		.amy-movie-list
			position: relative
			max-height: 400px
			overflow: hidden

			&:before
				content: ''
				width: 100%
				height: 100%
				display: block
				position: absolute
				text-align: center
				background-color: $body-bg
				z-index: 2
				top: 0
				left: 0

			&:after
				@include font-awesome
				content: "\f110"
				position: absolute
				font-size: 20px
				z-index: 99
				top: 100px
				left: 0
				right: 0
				width: 20px
				height: 20px
				margin: 0 auto
				-webkit-animation: fa-spin 2s infinite linear
				animation: fa-spin 2s infinite linear


//Showtimes Daily 2
.amy-movie-showtimews-daily-2
	.amy-movie-list
		margin: auto

	.amy-movie-list .amy-movie-items .amy-movie-item
		.amy-movie-item-front
			width: 196px
			max-height: 294px
			overflow: hidden

			img
				width: 100%
				height: 100%

		.amy-movie-item-back-inner
			min-height: 294px
			padding-left: 30px

			.amy-movie-item-content
				padding-left: 0 !important
				margin-left: 0

				.amy-movie-field-title
					font-size: 25px
					padding-right: 0

				.amy-movie-field-imdb
					top: 5px
					right: 0



			.amy-movie-item-button
				padding-left: 0 !important
				margin-left: 0 !important

	.amy-movie-item-time-list
		text-align: left

		.intro-time
			font-family: $headings-font-family
			font-size: 15px
			display: inline-block
			line-height: 1
			padding: 6px 4px
			margin: 0 1px 6px 0

		a.button
			padding: 10px 20px
			color: $white-color
			margin-top: 10px
			margin-bottom: 0
			text-transform: capitalize
			background: $theme-color
			transition: none
			display: block
			width: 110px

			@include hover
				color: $white-color
				background: -webkit-linear-gradient(left, $gradient-color-first, $gradient-color-last)
				background: -o-linear-gradient(right, $gradient-color-first, $gradient-color-last)
				background: -moz-linear-gradient(right, $gradient-color-first, $gradient-color-last)
				background: linear-gradient(to right, $gradient-color-first, $gradient-color-last)

	.amy-movie-item-showtimes
		position: relative

		&:before
			content: ''
			display: block
			width: 10px
			height: 100%
			background: url("../images/icons/dot-white.png") repeat-y top center
			position: absolute
			top: 0
			left: 15px

		&:after
			content: ''
			display: block
			width: 10px
			height: 100%
			background: url("../images/icons/dot-white.png") repeat-y top center
			position: absolute
			top: 0
			right: 15px

	.amy-movie-item-showtimes
		&.amy-ajax-showtime-loading
			.amy-movie-item-time-list
				position: relative

				&:before
					content: ''
					width: 100%
					height: 100%
					display: block
					position: absolute
					text-align: center
					background-color: #e5e5e5
					z-index: 2
					top: 0
					left: 0

				&:after
					@include font-awesome
					content: "\f110"
					position: absolute
					font-size: 20px
					z-index: 99
					top: 10px
					left: 0
					right: 0
					width: 20px
					height: 20px
					margin: 0 auto
					-webkit-animation: fa-spin 2s infinite linear
					animation: fa-spin 2s infinite linear


		.amy-movie-item-showtimes-inner
			background: #e5e5e5
			padding: 20px 25px
			margin: 0 17px
			min-height: 294px

			@media (max-width: 1124px)
				padding: 10px 15px 20px 15px

			.showtimes-title
				margin-top: 10px
				margin-bottom: 5px
				font-size: 15px
				text-transform: uppercase
				font-family: $headings-font-family
				color: $headings-color
				font-weight: bold

			select
				border: 2px solid #e1e1e1
				margin: 0 0 15px 0
				padding: 2px 10px




@media (max-width: 992px)
	.amy-movie-showtimews-1
		.amy-movie-list .amy-movie-items .amy-movie-item
			.amy-movie-item-front
				width: 130px
				margin-right: 15px

			.amy-movie-item-back .amy-movie-item-back-inner
				display: block
				padding-left: 0px

				.amy-movie-item-content
					padding: 0px 0 5px 0
					min-height: 195px

					.amy-movie-field-title
						font-size: 20px

					.amy-movie-custom-field-group
						display: none

				.amy-movie-item-showtimes
					padding: 0px 0 5px 0

		.amy-movie-item-showtimes
			.showtimes-cinema-group
				.amy-movie-times
					.amy-cell
						@include clearfix
						border-bottom: 1px dotted #d4d4d4
						padding-bottom: 4px
						margin-bottom: 8px

						&:last-child
							border-bottom: none

						.amy-cell-inner
							@include clearfix

							.inner-content
								margin: 0 -4px

							.amy-head
								width: 20%
								float: left
								margin-right: 0
								padding: 5px 4px

							.amy-intro-times
								width: 80%
								float: left
								text-align: left
								padding: 0 4px

								div
									display: inline-block
									padding-left: 20px
									padding-right: 20px
									float: left
									margin-right: 4px
									margin-bottom: 4px

							.button
								display: inline-block
								width: auto
								padding-left: 20px
								padding-right: 20px
								float: left

	.amy-movie-showtimews-2
		.amy-movie-showtimews-wrapper
			.amy-movie-showtimews-row
				.amy-movie-showtimews-cell
					.amy-movie-item
						.amy-movie-item-front
							width: 130px
						.amy-movie-item-back
							.amy-movie-field-title
								font-size: 20px
							.amy-movie-item-content
								padding: 0px 15px 0px 15px

	.amy-section.wpb_row.amy-no-padding
		padding-bottom: 10px !important


	.amy-movie-showtimews-daily-1
		.amy-movie-list
			.amy-movie-items
				.amy-movie-item
					padding-bottom: 20px
					margin-bottom: 20px

					&:last-child
						margin-bottom: 0

					.amy-movie-item-front
						width: 130px
						margin-right: 15px
					.amy-movie-item-back
						.amy-movie-item-back-inner
							display: block
							.amy-movie-item-content
								padding: 5px 0 5px 15px
								min-height: 195px

								.amy-movie-field-title
									font-size: 20px

							.amy-movie-item-showtimes
								margin-left: 0
								margin-top: 0
								padding-top: 10px

		.amy-showtimes-header .amy-showtimes-header-inner
			ul
				padding: 20px 0
				li
					padding: 0

					a
						padding: 2px 10px
						margin-bottom: 5px




	.amy-movie-showtimews-daily-2
		.amy-movie-list
			.amy-movie-items
				.amy-movie-item
					.amy-movie-item-inner
						width: 100%

					.amy-movie-item-front
						width: 130px
						margin-right: 15px

					.amy-movie-item-back-inner
						padding-left: 0

						display: block

						.amy-movie-item-content

							.amy-movie-field-imdb
								display: none

							.amy-movie-field-title
								font-size: 20px !important

						.amy-movie-item-button
							border-bottom: none

					.amy-movie-item-showtimes
						width: 100%

						.amy-movie-item-showtimes-inner
							min-height: 140px




@media (max-width: 660px)
	.amy-movie-showtimews-2
		.amy-movie-showtimews-wrapper
			.amy-movie-showtimews-row
				margin-bottom: 15px
				display: block

				.amy-movie-showtimews-cell
					text-align: left
					@include clearfix
					display: block

					.intro-date-time
						float: left
						width: 100px
						font-family: $headings-font-family
						color: $headings-color
						font-weight: bold
						font-size: 15px

					.amy-movie-intro-list
						padding-left: 100px

						.amy-movie-intro-times
							display: inline-block
							float: left
							margin: 0 2px 2px 0

@media (max-width: 480px)
	.amy-movie-showtimews-1
		.amy-movie-list
			.amy-movie-items
				.amy-movie-item
					margin-bottom: 20px
					padding-bottom: 2px

					.amy-movie-item-back .amy-movie-item-back-inner .amy-movie-item-content .amy-movie-field-desc
						display: block


	.amy-movie-showtimews-2 .amy-movie-showtimews-wrapper .amy-movie-showtimews-row .amy-movie-showtimews-cell .amy-movie-item .amy-movie-item-back .amy-movie-custom-field-group
		display: none

	.amy-movie-showtimews-daily-1
		.amy-movie-list
			.amy-movie-items
				.amy-movie-item

					.amy-movie-item-back .amy-movie-item-back-inner .amy-movie-item-content .amy-movie-field-desc
						display: block

	.amy-movie-layout-list.amy-movie-showtimews-daily-2
		.amy-movie-list
			.amy-movie-items
				.amy-movie-item

					.amy-movie-custom-field-group
						display: none
					.amy-movie-field-desc
						display: block !important

					.amy-movie-item-back
						.amy-movie-item-back-inner
							.amy-movie-item-button
								border: none !important
								display: none
