$bg-color-showtime: #ebebeb
$border-color-showtime: #d4d4d4
$bg-intro-times: #e1e1e1
$border-intro-back-footer: #dbdbdb
$gradient-color-first: 		#bb511e
$gradient-color-last: 		#f1bc00

.amy-movie-layout-list
	.amy-movie-items
		.amy-movie-item
			margin-bottom: 60px
			clear: both

			.entry-showtime
				margin-top: 40px

			.amy-movie-item-front
				float: left
				width: 196px
				margin-bottom: 0!important


				.amy-movie-item-poster
					position: relative

					.amy-movie-field-imdb
						position: absolute
						bottom: 8px
						left: 8px

			.amy-movie-item-back-inner
				min-height: 294px

				.amy-movie-item-button
					border-bottom: 1px dotted $border-intro-back-footer

					.amy-btn-icon-text
						border-right: 1px dotted $border-intro-back-footer
						padding-right: 15px
						padding-left: 15px
						margin-right: 0

						&:first-child
							padding-left: 0

						&.link-detail
							border-right: none
							padding-right: 0

						@media (max-width: 480px)
							border-right: none
							padding-right: 10px
							padding-left: 0

					.amy-btn-showtimes
						float: right
						display: inline-block
						color: $text-color
						cursor: pointer
						@include transition-all()

						@media (max-width: 480px)
							margin-top: 10px
							float: none

						&:after
							@include font-awesome
							content: "\f0d7"
							margin-left: 3px
							font-size: 13px

						@include hover
							color: $theme-color


.showtimes-wrapper
	background: $bg-color-showtime
	margin-top: 20px
	position: relative


	&:before
		content: ''
		width: 0
		height: 0
		border-left: 5px solid transparent
		border-right: 5px solid transparent

		border-bottom: 5px solid $bg-color-showtime
		position: absolute
		right: 35px
		top: -5px

	.amy-movie-times-inner
		width: 100%


	.showtimes-row
		width: 100%
		display: flex
		flex-flow: row nowrap
		border-bottom: 1px dotted $border-color-showtime

		&:last-child
			border-bottom: none

		.cell
			box-sizing: border-box
			flex-grow: 1
			display: flex
			align-items: center
			padding: 18px 30px
			word-wrap: break-word

			&.amy-movie-times
				width: 72%
				padding: 18px 27px 15px 27px

				@media (max-width: 768px)
					padding: 15px

			&.amy-movie-cinema
				width: 28%
				border-right: 1px dotted $border-color-showtime

				@media (max-width: 768px)
					padding: 15px

			.amy-movie-intro-cinema
				margin: 0
				font-weight: bold
				font-size: 14px
				text-transform: uppercase

			.amy-movie-intro-times
				display: inline-block
				line-height: 14px
				padding: 9px 20px
				font-size: 15px
				color: $text-color
				background: $bg-intro-times
				margin: 0 3px 6px 3px
				font-family: $headings-font-family
				cursor: pointer
				@include transition-all()

				@include hover
					color: $headings-color
					background: $theme-color

		.amy-movie-intro-list .button
			margin: 0 0 6px 3px
			line-height: 14px
			padding: 9px 10px
			font-size: 15px
			text-transform: capitalize
			transition: none
			background: $theme-color
			color: $headings-color

			@include hover
				color: $white-color
				background: -webkit-linear-gradient(left, $gradient-color-first, $gradient-color-last)
				background: -o-linear-gradient(right, $gradient-color-first, $gradient-color-last)
				background: -moz-linear-gradient(right, $gradient-color-first, $gradient-color-last)
				background: linear-gradient(to right, $gradient-color-first, $gradient-color-last)


.amy-movie-intro-time-group
	margin-bottom: 15px
	border-bottom: 1px dotted #d4d4d4
	padding-bottom: 15px

	.amy-movie-intro-date
		font-family: $headings-font-family
		color: $headings-color
		font-weight: bold
		margin-bottom: 5px
		font-size: 14px
		text-transform: uppercase
	.amy-movie-intro-list
		margin: 0 -3px

		.button
			margin: 0 0 6px 3px
			height: auto
			line-height: 14px
			padding: 10px 18px
			font-size: 15px
