$color-nav-a: #bdbdbd
$color-nav-a-dark: #3b3b3b

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content.amy-tab-content > .tab-pane
	display: block
	height: 0
	visibility: hidden

.tab-content.amy-tab-content > .active
	height: auto
	visibility: visible


.nav.amy-tabs
	margin-bottom: 20px
	border-bottom: none
	display: inline-block

	&.no-divider
		> li
			&:after
				content: none

	&.has-seperator
		position: relative

		&:before
			content: ''
			width: 150%
			height: 9px
			position: absolute
			top: 10px
			right: 101%
			background: url(../images/bg/seperator-bg.png) repeat-x center

		&:after
			content: ''
			width: 150%
			height: 9px
			position: absolute
			top: 10px
			left: 96%
			margin: auto
			background: url(../images/bg/seperator-bg.png) repeat-x center

		@media (max-width: 768px)
			&:before,
			&:after
				content: none


	&.gradient-color,
	&.gradient-color-dark
		> li
			&.active
				> a
					background-color: transparent
					color: $theme-color
					background: -webkit-gradient(linear,left top,right top,color-stop(32%,$gradient-color-first),color-stop(100%,$gradient-color-last))
					background: -webkit-linear-gradient(left,$gradient-color-first 32%,$gradient-color-last 100%)
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent

	&.gradient-color-dark
		&.has-seperator
			&:before,
			&:after
				opacity: 0.2

		> li
			&:after
				color: $color-nav-a-dark

			> a
				color: $color-nav-a-dark

	> li
		margin-bottom: 0
		padding-right: 15px
		margin-right: 15px
		position: relative

		@media (max-width: 640px)
			padding-right: 0
			margin-bottom: 5px

		&:after
			content: '/'
			position: absolute
			top: 2px
			right: -5px
			font-size: 28px
			font-family: $headings-font-family
			font-weight: bold
			text-transform: uppercase
			color: $color-nav-a
			line-height: 24px

			@media (max-width: 768px)
				font-size: 22px
				top: 0

			@media (max-width: 640px)
				content: none

		@include hover
			outline: none

		&:last-child:after
			content: none

		&.active
			> a
				color: $headings-color

		> a
			font-size: 22px
			font-family: $headings-font-family
			font-weight: bold
			text-transform: uppercase
			line-height: 1.1
			padding: 0
			color: $color-nav-a
			border-radius: 0
			border: none

			@include hover
				outline: none
				background-color: transparent
				border: none

			@media (max-width: 768px)
				font-size: 22px !important


