.newsletter-input-wrapper {
	position: relative;

	input[type="email"] {
		background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
		border: none;
		border-radius: 0px;
		color: #fff;
		display: inline-block;
		height: 44px;
		max-width: 450px;
		padding-left: 20px;
		padding-right: 40px;

		@media screen and (max-width: 980px) {
			max-width: 100%;
		}
	}

	input[type="submit"] {
		background: rgba(0, 0, 0, 0) url("../images/icons/icon-letter.png") no-repeat scroll 0 0;
		border: medium none;
		height: 24px;
		opacity: 0.9;
		padding: 0;
		position: absolute;
		right: 0px;
		margin-right: 10px;
		text-indent: -9999em;
		top: 14px;
		width: 24px;
	}
}