
.widget_nav_menu {
	@extend %title;
	@extend %list;

	.amy-widget-content {
		border-top: none;
		padding: 0;
	}

	.sub-menu {
		border-top: 1px solid #ececec;
		margin-left: 30px;
		margin-top: 15px;
		padding-top: 15px;

		li:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.amy-showcase,
	.amy-topbar & {
		padding: 0 15px;
	}
}