
.amy-widget-list {
	&.list-movie {
		.entry-item {
			background: #f8f8f8;
			margin-bottom: 15px;
		}

		.entry-thumb {
			float: left;
		}

		.entry-content {
			margin-left: 134px;
			padding-top: 15px;

			h2 {
				font-weight: bold;
				font-size: 16px;
				margin-top: 0;
				margin-bottom: 5px;
			}

			.duration {
				color: $theme-color;

				i {
					padding-right: 5px;
				}
			}

			.genre {
				margin-top: 5px;
				color: #999;

				a {
					color: #999;
					font-size: 15px;

					&:hover {
						color: $theme-color;
					}
				}
			}

			.mrate {
				margin-top: 15px;
				position: relative;

				.rate {
					background: $theme-color;
					border-radius: 50%;
					color: #fff;
					font-size: 15px;
					font-weight: bold;
					height: 45px;
					right: 20px;
					line-height: 45px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: -10px;
					width: 45px;
				}
			}
		}
	}

	&.list-post {
		.entry-item {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #f6f6f6;
		}

		.entry-thumb {
			float: left;
		}

		.entry-content {
			margin-left: 134px;

			h2 {
				font-weight: bold;
				font-size: 17px;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 5px;
			}

			.entry-meta {
				color: #999;
				font-size: 13px;
				font-style: italic;
			}
		}
	}

	&.footer-recent-post {
		.entry-item {
			border-bottom: none;
		}
		.entry-thumb {
			display: none;
		}

		.entry-content {
			margin-left: 0;

			.entry-title {
				text-transform: none;
				font-weight: normal;
				line-height: 22px;
			}

			.entry-meta {
				color: #ddd;

				span:nth-child(2) {
					display: none;
				}
			}
		}
		.entry-comment {
			display: none;
		}
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1; /* Firefox */
}