.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pageContent {
    width: 85%;
    max-width: 1100px;
}

.article {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}
.pu{
    color: #222;
    font-size: 15px;
}

.entryTop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.entryThumb {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img:hover {
    transform: scale(1.05);
}

.entryBottom {
    padding: 20px;
    border-radius: 10px;
}

.entryMeta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.entryDate {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.day {
    font-size: 24px;
    color: #333;
}

.month {
    font-size: 16px;
    color: #777;
}

.entryComment {
    font-size: 18px;
    color: #777;
}

.entryLeft {
    margin-top: 10px;
}

.entryTitle {
    font-size: 32px;
    color: #222;
    margin-bottom: 20px;
    font-weight: bold;
}

.entryLink {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.entryLink:hover {
    color: #0077cc;
}

.entryContent {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.heading {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
}

.figure {
    margin: 30px 0;
    text-align: center;
}

.figcaption {
    font-size: 14px;
    color: #888;
}


.smallImg {
    width: 65%; /* Adjust the width to make the images smaller */
    height: auto;
    border-radius: 8px;
}

.videoWrapper {
    border-radius: 20px;
    justify-content: center;
    display: flex;
    margin: 20px 0;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 20px;
    }

    .pageContent {
        width: 100%;
    }

    .article {
        padding: 15px;
    }

    .entryTop {
        flex-direction: column;
        align-items: center;
    }

    .entryTitle {
        font-size: 24px;
        text-align: center;
    }

    .entryContent {
        font-size: 16px;
        align-items: center;
    }

    .smallImg {
        width: 90%;
    }

    .videoWrapper {
        margin: 15px 0;
    }

    .entryMeta {
        flex-direction: column;
        align-items: center;
    }

    .entryDate, .entryComment {
        font-size: 16px;
        text-align: center;
    }

    .heading {
        font-size: 18px;
        text-align: center;
    }

    .figure {
        margin: 20px 0;
    }
}
