.kon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 30px;
    overflow: visible;
    margin-top: -20px;

}

@media (max-width: 768px) {
    .kon {
        flex-direction: column;
        margin: 0 auto; /* Center the container */

        padding: 20px;
        margin-top: -20px;
        align-items: center;
        margin-bottom: -40px;
    }
}