.container {
    display: flex;
    gap: 100px; /* Razmak između banera i članka */
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 230px;
}

.lijeviBaner {
    flex: 1; /* Baner zauzima manji prostor */
}

.articleItemsWrapper {
    flex: 4; /* Sekcija za članke zauzima veći prostor */
    display: flex;
    flex-direction: column; /* Svi članci u jednoj koloni */
    gap: 4px; /* Razmak između članaka */
    justify-content: center;
}

.articleItem {
    display: flex;
    flex-direction: row; /* Svaki članak se raspoređuje horizontalno */
    gap: 20px; /* Razmak između slike i sadržaja */
}


.entryThumb {
    flex: 1;
}

.entryContent {
    flex: 2;
}

.entryTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.entryInfo {
    font-size: 14px;
    margin-bottom: 10px;
}

.entrySummary {
    font-size: 14px;
    color: #555;
}

.entryCategory a {
    text-decoration: none;
    color: #007bff;
}

.entryCategory a:hover {
    text-decoration: underline;
}


.articleItem {
    margin-bottom: 20px;
}

.post {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px; /* Dodano kako bi post bio maksimalne širine */
}

.row {
    display: flex;
    gap: 20px;
}

.entryThumb {
    flex: 1;
}

.entryContent {
    flex: 2;
}

.entryTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.entryInfo {
    font-size: 14px;
    margin-bottom: 10px;
}

.entryDate, .entryCategory {
    color: #555;
}

.entryCategory a {
    text-decoration: none;
    color: #007bff;
}

.entryCategory a:hover {
    text-decoration: underline;
}

.entrySummary {
    font-size: 14px;
    color: #555;
}

.entryAuthor {
    font-weight: bold;
}

.entryComment {
    font-size: 14px;
    color: #777;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;

}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination .page-number {
    background-color: #0e78e2;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-number:hover {
    background-color: #0b7def;
    cursor: pointer;

}

.pagination .page-number.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bold;
    cursor: pointer;

}

.pageNumbers {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
.currentPage{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;

}

.nextPage{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0px; /* Adjusted margin for smaller screens */
        margin-right: 0px;
        gap: 20px;
        max-width: 100%;
    }
    
        .lijeviBaner {
            flex: none;
            width: 100%;
        }
    
        .articleItemsWrapper {
            flex: none;
            width: 100%;
            gap: 10px;
        }
    
        .articleItem {
            flex-direction: column;
            gap: 10px;
    
        }
    
        .post {
            padding: 10px;
            box-sizing: border-box; /* Dodano kako bi padding bio uključeni u širinu */
        }
    
        .row {
            flex-direction: column;
            gap: 10px;
        }
    
        .entryThumb, .entryContent {
            flex: none;
            
        }
    
        
    
        .pagination {
            flex-direction: row;
            gap: 5px;
        }
    
        .pagination button, .pagination .page-number {
            width: 100%;
            text-align: center;
        }
    }