.trigger {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.content {
    background: #20374e;
    border-radius: 6px;
    box-shadow: 0 10px 38px -10px rgba(0, 0, 0, 0.35), 0 10px 20px -15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 200px;
    z-index: 1000;
    position:absolute; /* Prevent content from affecting page width */
    display: block; /* This makes the items appear one below the other */
}

.item {
    font-size: 14px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease-in-out;
    display: block; /* Makes each item appear on a new line */
}

.item:hover {
    background-color: #f0f0f0;
}
