/* General Styles */
.sidebar {
    width: 300px;
    padding: 20px;
}

.widgetBlock {
    margin-bottom: 20px;
}

.wpBlockImage {
    text-align: left;
}

.wpImage {
    max-width: 100%;
    height: auto;
    
}

.widgetList {
    margin-top: 20px;
}

.widgetTitle {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.entryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.entryThumb {
    width: 120px;
    height: 180px;
    overflow: hidden;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.entryThumb2 {
    width: 250px;
    height: 90px;
    overflow: hidden;
}

.image2 {
    width: 100%;
    height: 90px;
    object-fit: cover;
}

.entryContent {
    flex-grow: 1;
}

.entryTitle {
    font-size: 1.1rem;
    margin: 0;
}

.entryTitle a {
    color: #333;
    text-decoration: none;
}

.entryTitle a:hover {
    text-decoration: underline;
}

.duration {
    font-size: 0.9rem;
    color: #666;
}

.entryMeta {
    font-size: 0.9rem;
    color: #999;
}

.entryDate, .entryComment {
    margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 94%;
        padding: 10px;
    }

    .mobileGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .entryItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .widgetBlock {
        margin-bottom: 15px;
    }

    .widgetTitle {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }


    .entryThumb, .entryThumb2 {
        width: 100%;
        height: auto;
    }

    .image2 {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .image{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .entryContent {
        width: 100%;
        text-align: center;
    }

    .entryTitle {
        font-size: 1rem;
    }

    .newsSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .newsItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
