.container {
  padding: 20px;
  justify-content: center;
  margin-right: 100px;
  max-width: 800px;
  max-height: 500px;
}

.slick-slide {
  display: block;
  padding: 0 10px;
  height: 100%;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.movieItem {
  width: 100%;
  overflow: visible;
  max-width: 250px;
  margin: 0 auto;
  height: 100%;
  transition: transform 0.3s ease;
  position: relative;
}

.selectedFilm {
  margin: 0 auto;
  position: absolute;
  top: 790px; /* Adjust the top position */
  background-color: rgba(0, 0, 0); /* Darkened background */
  color: white;
  font-size: 16px;
  font-weight: bold;
  z-index: 10000; /* Ensure it appears above other elements */
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  height: auto;
  transition: left 0.3s ease-in-out; /* Smooth transition for position change */
  left: 50%; /* Center the selected film horizontally */
  transform: translateX(-50%); /* Center the selected film horizontally */
}


/* Additional CSS properties for the rest of your layout */



.selectedFilm img {
  width: 100%; /* Ensure the image fits within the smaller container */
  height: auto; /* Maintain image aspect ratio */
  border-radius: 5px; /* Slightly rounded image corners */
}


.movieFront {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow: hidden;
}

.movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}


.movieImage:hover {
  transform: scale(1.1);
}

.movieTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.movieTitle a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.movieTitle a:hover {
  color: #007bff;
}

.releaseDate {
  font-size: 14px;
  color: #7d7b7b;
  margin-bottom: 10px;
}

/* Slick arrows styling */
.slick-prev, .slick-next {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: rgb(1, 1, 1);
}

/* Show the modal on hover */
.movieItem:hover .movieContent {
  visibility: visible;
  opacity: 1;
  left: 0; /* Align modal properly on hover */
  top: 0; /* Keep the modal aligned with the top */
}

.movieItem:hover {
  transform: scale(1.05); /* Slightly scale up the movie item */
}

/* Title styling */
.title2 {
  font-size: 18px;
  color: #020202;
  margin-bottom: 10px;
  font-weight: bold;
}

.dole {
  margin-top: 10px;
}
