.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-right: 250px;
  overflow: visible;
  margin-bottom: 80px;
}

.kon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  
}

.headingContainer {
  text-align: center;
  margin-bottom: 20px;
}

.hiddenMobile {
  display: none;
}

.hiddenDesktop {
  display: block;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 35px;
}

.movieList {
  list-style-type: none;
  height: 370px;
  max-height: 370px;

}

.movieList li {
  display: flex;
  align-items: center; /* Align items in a row */
  margin: 9px 0;
  font-size: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: -2px;
  margin-top: -2px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0b0b0b;
  color: rgb(246, 242, 242);
  font-weight: bold;
  margin-right: 15px;  /* Space between number and title */
  font-size: 16px;
}

.link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover {
  color: #007bff;
}

.con2{
  text-align: center;
}

@media (max-width: 768px) {
  .hiddenMobile {
    display: block;
  }

  .hiddenDesktop {
    display: none;
  }

  .container {
    padding: 20px;
    margin: 0 auto;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom:10px;
  }

  .movieList li {
    flex-direction: row;  /* Change to row to place number and title side by side */
    align-items: center;
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0 auto; /* Center the list items */
  }
  .movieList{
    margin-bottom: 5px;
    margin-top: 1px;
     height: auto;
  max-height: auto;
  }

  .number {
    width: 25px;
    height: 25px;
    font-size: 14px;
    margin-right: 10px;
  }

  .link {
    font-size: 14px;
  }
}

