
.amy-metroslider {
	margin: 0;
	padding: 0;
	height: 520px;

	li {
		border-right: 1px solid rgba(0, 0, 0, .2);
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		float: left;
		overflow: hidden;
		cursor: pointer;
		display: block;
		width: 200px;
		height: 200px;
		opacity: 1;
		position: relative;

		.entry-title {
			background: rgba(254, 121, 0, 0.79) none repeat scroll 0 0;
			bottom: 0;
			display: none;
			font-size: 17px;
			font-weight: bold;
			padding: 15px;
			position: absolute;
			text-transform: uppercase;
			width: 100%;
			cursor: pointer;

			a {
				color: #fff;
			}
		}

		&:hover {
			img {
				opacity: 0.8;
			}

			.entry-title {
				display: block;
			}
		}

		img {
			cursor: move;
			display: block;
		}

		&.full {
			height: 520px;
			width: 700px;

			img {
				height: 520px;
				width: 700px;
			}
		}

		&.wide {
			height: 260px;
			width: 700px;

			img {
				height: 260px;
				width: 700px;
			}
		}

		&.small {
			height: 260px;
			width: 350px;

			img {
				height: 260px;
				width: 350px;
			}
		}

	}
}

.scrollWrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

div.scrollableArea {
	height: 100%;
	position: absolute;
	width: auto;
}

.amy-isotope {
	clear: both;
	cursor: move;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
	height: 520px;
}