
.slide-item {
	position: relative;
}

.amy-mv-slide {
	background: #d1d1d1;

	.slide-thumb {
		img {
			margin: 0 auto;
		}
	}

	ul.slick-dots {
		bottom: 25px;
		display: inline-block;
		left: 20px;
		position: absolute;
		text-align: left;

		@media screen and (max-width: 980px) {
			left: 0;
			right: 0;
			margin: 0 auto;
			text-align: center;
		}

		@media screen and (max-width: 768px) {
			bottom: 2px;
		}

		@media screen and (max-width: 640px) {
			display: none !important;
		}

		li {
			width: auto;
			height: auto;
			margin: 0 3px;
			button {
				&:before {
					content: none;
				}

				background: #000;
				color: #fff;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				font-size: 17px;
			}

			&.slick-active {
				button {
					background: $theme-color;
				}
			}
		}
	}
}

.slide-content {
	left: 10%;
	top: 35%;
	position: absolute;

	@media screen and (max-width: 980px) {
		top: 10%;
	}

	h2 {

		font-size: 50px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0;

		@media screen and (max-width: 768px) {
			font-size: 30px;
		}

		a {
			color: #fff;
			&:hover {
				color: $theme-color;
			}
			.last_word {
				color: $theme-color;
			}
		}
	}

	.slide-release {
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 15px;

		span {
			font-size: 22px;
			font-style: italic;
			padding-left: 4px;
		}
	}

	.slide-desc {
		color: #fff;
		font-size: 16px;
		margin-bottom: 15px;

		@media screen and (max-width: 480px) {
			display: none;
		}
	}

	.slide-button {

		@media screen and (max-width: 640px) {
			display: none;
		}

		a {
			color: #fff;
			margin-right: 20px;
			font-size: 15px;

			&:hover {
				color: $theme-color;

				i {
					color: #fff;
				}
			}
		}

		i {
			background: $theme-color;
			border-radius: 50%;
			font-size: 10px;
			height: 20px;
			line-height: 21px;
			margin-right: 3px;
			text-align: center;
			width: 20px;
		}
	}
}