.tax-amy_actor {
	.main-content {
		padding: 0;
	}
}

.amy-actor {

	table {
		border-width: 0;
		
		tr {
			th,
			td {
				padding: 15px 0;
				border-bottom: 1px solid #f6f6f6;
				border-top: none;
				border-right: none;
				border-left: none;

				&:nth-child(2) {
					text-align: center;
				}

				img {
					margin-right: 10px;
				}
			}
		}
	}

	&.has-banner {
		.container {
			margin-top: -126px;

			@media screen and (max-width: 640px) {
				margin-top: 20px;
			}
		}
	}

	.actor-left {
		padding-right: 0;
	}

	.actor-right {
		padding-left: 40px;
		padding-bottom: 30px;
	}

	.actor-name {
		//background: rgba(0, 0, 0, 0) url("../images/frontend/bg_actor.png") no-repeat scroll 0 0;

		background: rgba(0,0,0,0.91);
		background: -moz-linear-gradient(left, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.06) 85%, rgba(0,0,0,0.01) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.91)), color-stop(85%, rgba(0,0,0,0.06)), color-stop(100%, rgba(0,0,0,0.01)));
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.06) 85%, rgba(0,0,0,0.01) 100%);
		background: -o-linear-gradient(left, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.06) 85%, rgba(0,0,0,0.01) 100%);
		background: -ms-linear-gradient(left, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.06) 85%, rgba(0,0,0,0.01) 100%);
		background: linear-gradient(to right, rgba(0,0,0,0.91) 0%, rgba(0,0,0,0.06) 85%, rgba(0,0,0,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

		color: #fff;
		font-size: 25px;
		font-weight: bold;
		height: 126px;
		margin: 0 0 30px -41px;
		padding-left: 41px;
		padding-top: 45px;
		text-transform: uppercase;

		@media screen and (max-width: 640px) {
			margin: 0px;
		}
	}

	.actor-info {
		ul {
			margin: 20px 0 0;
			padding: 0;

			li {
				list-style: none;

				label {
					color: #666;
					font-size: 15px;
				}

				span {
					color: #000;
					font-size: 14px;
					font-weight: bold;
					padding-left: 15px;
				}
			}
		}
	}

	.actor-summary {
		ul {
			margin: 30px 0;
			padding: 0;

			li {
				font-size: 15px;
				color: #666;
				list-style: none;

				&:before {
					font-family: FontAwesome;
					content: '\f111';
					color: $theme-color;
					font-size: 6px;
					padding-right: 10px;
				}
			}
		}
	}

	.actor-biography {
		color: #666;
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 25px;
	}
}