$input-border:				#e1e1e1 !default;
$input-border-focus:		$theme-color!default;
$input-height-base:			40px !default;
$padding-base-vertical: 	6px !default;
$padding-base-horizontal:	15px !default;

// Normalize non-controls
//
// Restyle and baseline non-control form elements.
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $line-height-computed;
	font-size: ($font-size-base * 1.5);
	line-height: inherit;
	color: $legend-color;
	border: 0;
	border-bottom: 1px solid $legend-border-color;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: $font-weight-normal;

}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Set the height of file controls to match text inputs
input[type="file"] {
	display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
	display: block;
	width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus();
}

// Adjust output element
output {
	display: block;
	padding-top: ($padding-base-vertical + 1);
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
}

// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: block;
	width: 100%;
	height: $input-height-base;
	padding: $padding-base-vertical $padding-base-horizontal;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $input-color;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ebebeb;
	border-radius: 0;
	@include transition(border-color ease-in-out .15s);

	-webkit-appearance: none;

	&:hover {
		border-color: darken($input-border, 3%);
	}

	&:focus {
		outline: 0;
		border-color: $input-border-focus;
	}

	.amy-dark-bg & {
		background: $input-bg-dark;
		color: $input-color-dark;

		@include placeholder($input-color-placeholder-dark);

		&:focus {
			border-color: $input-border-dark;
		}
	}
}

input[type="password"] {
	display: inline-block;
}

// Reset height for `textarea`s
textarea {
	height: auto;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
	-webkit-appearance: none;
	@include box-sizing(border-box);
}

// Special styles for iOS date input
//
// In Mobile Safari, date inputs require a pixel line-height that matches the
// given height of the input.

input[type="date"] {
	line-height: $input-height-base
}

.input-rounded {
	border-radius: 20px
}

.required {
	color: $button-danger-color;
}

input[type="reset"],
input[type="submit"] {
	background: $theme-color;
	border: 0 none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	width: auto;
	margin-right: 15px;

	&:hover {
		background: #252525 none repeat scroll 0 0;
	}
}