

#masthead {
	box-shadow: 1px -3px 4px #000000;

	&.header-default {
		.amy-inner {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-ms-flex-align: center;
			-webkit-align-items: center;
			-webkit-box-align: center;
			align-items: center;
			margin: 10px 0;

			> div {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-align: center;
				-webkit-align-items: center;
				-webkit-box-align: center;
				align-items: center;
			}

			.amy-right {
				margin-left: auto;
			}

			.amy-mv-search {
				margin-bottom: 0;
				margin-left: 30px;
			}
		}
	}
}

#masthead.dark {
	background: #000000;
}

#masthead.dark .pull-right {
	float: none !important;
	text-align: right;
}

#masthead.dark .pull-right .box-user {
	display: inline-block;
	float: right;
	margin-top: 17px;
	color: #ddd;
}

#masthead.dark #amy-site-logo {
	margin-top: 15px;
}

#masthead.dark .amy-primary-navigation {
	display: inline-block;
	margin-top: 10px;
	margin-right: 30px;
}

#masthead.dark .amy-primary-navigation ul.nav-menu li>ul li ul {
	left: 197px !important;
	margin: 0 0 0 20px;
	top: 0 !important;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li:last-child>a {
	padding-right: 20px;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li:last-child:hover a:after {
	margin-left: -37%;
	width: 73%;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li.menu-item-has-children a:before {
	content: none;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li.current-menu-item a:after {
	margin-left: -37%;
	width: 73%;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li.current-menu-item:last-child a:before {
	margin-left: -37%;
	width: 73%;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li.current-menu-item>a {
	color: #fff;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li:hover>a {
	color: #fff;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li:hover a:before {
	margin-left: -37%;
	width: 73%;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li>a {
	color: #666666;
	line-height: 65px;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li>a:after {
	top: -9px;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li>a:before {
	background: #fe7900 none repeat scroll 0 0;
	bottom: 22px;
	content: "";
	height: 15px;
	left: 50%;
	margin-top: -1.5px;
	position: absolute;
	bottom: -17px;
	transition: all 0.2s ease 0s;
	width: 0;
	z-index: 9;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li ul {
	background-color: #fe7900;
	top: 66px;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li ul>li>a {
	color: #ffffff;
	line-height: 1;
	padding: 12px 0;
	border-color: #fe912e;
}

#masthead.dark .amy-primary-navigation ul.nav-menu>li ul>li>a:before {
	content: none;
}

.amy-page-load {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: block;

	&.loaded {
		display: none;
	}

	.amy-page-load-wrapper {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}

	.bar {
		width: 10px;
		height: 70px;
		background: #fff;
		display: inline-block;
		transform-origin: bottom center;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		animation: loader 1.2s linear infinite;
	}

	.bar1 {
		animation-delay: 0.1s;
	}

	.bar2 {
		animation-delay: 0.2s;
	}

	.bar3 {
		animation-delay: 0.3s;
	}
	.bar4 {
		animation-delay: 0.4s;
	}

	.bar5 {
		animation-delay: 0.5s;
	}

	.bar6 {
		animation-delay: 0.6s;
	}

	.bar7 {
		animation-delay: 0.7s;
	}

	.bar8 {
		animation-delay: 0.8s;
	}

	@keyframes loader {
		0% {
			transform: scaleY(0.1);
		}
		50% {
			transform: scaleY(1);
			background: yellowgreen;
		}
		100% {
			transform: scaleY(0.1);
			background: transparent;
		}
	}
}