
.single-movie {

	color: #666;

	&.has-banner {
		margin-top: 30px;
	}

	.entry-poster {
		float: left;
	}

	.entry-info {
		display: block;
		margin-left: 230px;

		h1 {
			color: #000;
			font-size: 28px;
			font-weight: bold;
			margin-top: 0;
		}

		.pg {
			background: $theme-color;
			color: #fff;
			font-weight: bold;
			padding: 4px 8px;
			text-transform: uppercase;
		}

		.duration {
			color: $theme-color;
			font-weight: bold;
			margin-left: 15px;
		}

		ul.info-list {
			margin-top: 30px;
			padding: 0;

			li {
				list-style: none;
				font-family: $font-family-base;
				display: flex;

				label {
					color: #000;
					font-weight: bold;
					font-size: 15px;
					width: 90px;
				}

				span {
					color: #666;
					font-size: 15px;
					float: right;
					width: calc(100% - 80px);
				}
			}
		}
	}

	.entry-media {
		position: relative;
		margin-top: 30px;

		.number-media {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 13px;
			color: #999;

			span.video {
				border: 1px solid #ddd;
				border-radius: 30px;
				display: inline-block;
				line-height: 26px;
				padding: 0px 18px;

				i {
					background: rgba(0, 0, 0, 0) url("../images/frontend/icon-media.png") no-repeat scroll left 2px;
					height: 13px;
					width: 13px;
					padding-right: 20px;
				}

			}

			span.gallery {
				border: 1px solid #ddd;
				border-radius: 30px;
				display: inline-block;
				line-height: 26px;
				padding: 0px 18px;
				margin-left: 7px;

				i {
					background: rgba(0, 0, 0, 0) url("../images/frontend/icon-media.png") no-repeat scroll left 2px;
					height: 13px;
					width: 13px;
					padding-right: 20px;
				}
			}
		}

		.media-carousel {
			margin-top: 0px;
			margin-left: -10px;
			margin-right: -10px;

			.media-item {
				padding: 0 10px;
				position: relative;

				a {
					&:hover i {
						opacity: 1;
					}
					i {
						color: #fff;
						font-size: 16px;
						left: 50%;
						position: absolute;
						top: 50%;
						z-index: 99;
						width: 40px;
						height: 40px;
						line-height: 36px;
						border-radius: 50%;
						text-align: center;
						border: 2px solid #fff;
						margin-left: -20px;
						margin-top: -20px;
						opacity: 0.6;
					}
				}

				img {
					min-height: 122px;
					width: 100%;
				}
			}

			.slick-prev::before,
			.slick-next::before {
				color: #ffffff;
				font-family: "FontAwesome";
				font-size: 16px;
				line-height: 1;
				opacity: 0.75;
			}

			.slick-next::before {
				content: "\f061";
			}
			.slick-prev::before {
				content: "\f060";
			}

			.slick-arrow {
				background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
				display: block;
				height: 30px;
				padding: 0;
				width: 30px;

				&:hover {
					background: rgba(0, 0, 0, 0.5) !important;
				}

				&.slick-next {
					right: 10px;
				}
				&.slick-prev {
					left: 10px;
				}
			}
		}
	}

	.entry-showtime {
		margin-top: 30px;

		.amy-title {
			display: inline-block;
		}

		.select-cinema {
			background: #f8f8f8;
			width: 27%;
			float: left;

			h4 {
				background: transparent url("../images/frontend/icon-cinema.png") no-repeat scroll 0 0;
				color: #000;
				font-size: 14px;
				font-weight: bold;
				height: 23px;
				line-height: 24px;
				margin: 15px 25px;
				padding-left: 35px;
				text-transform: uppercase;
			}

			ul {
				margin: 0;
				padding: 20px 0;
				border-top: 2px solid #fff;

				li {
					list-style: none;
					padding: 0 25px;
					color: #666;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 40px;
					position: relative;
					cursor: pointer;

					&:hover,
					&.active {
						background: #dbdbdb;
						color: #000;

						&:after,
						&:before {
							left: 100%;
							top: 19px;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}

						&:after {
							border-color: rgba(248, 248, 248, 0);
							border-left-color: #dbdbdb;
							border-width: 9px;
							margin-top: -9px;
						}

						&:before {
							border-color: rgba(248, 248, 248, 0);
							border-left-color: #dbdbdb;
							border-width: 9px;
							margin-top: -9px;
						}
					}
				}
			}
		}

		&.single-cinema {
			.showtime {
				width: 100%;
				float: none;
				margin: 0;
			}
		}

		.showtime {
			background: #f8f8f8;
			float: left;
			margin-left: 20px;
			width: 70%;
			padding: 40px;

			label {
				color: #000;
				font-size: 14.98px;
				font-weight: bold;
			}

			ul {
				padding: 0;
				margin: 0 0 25px;

				li {
					background: #dbdbdb;
					border-radius: 4px;
					color: #000;
					font-size: 14px;
					padding: 3px 10px;
					margin: 0 6px 9px 0;
					list-style: none;
					display: inline-block;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}

	.entry-action {
		border-bottom: 1px solid #f1f1f1;
		border-top: 1px solid #f1f1f1;
		margin: 25px 0;
		padding: 10px 0;
		position: relative;

		.mrate {
			display: inline-block;
			position: relative;

			span.mcount {
				position: absolute;
				top: 28px;
				left: 3px;
			}

			&.has-rate {
				.movie-rating-stars {
					display: none;
				}
			}

			.movie-rating-stars {
				background-position: left top;
				height: 18px;
				list-style: outside none none;
				margin: 0;
				overflow: hidden;
				padding: 0;
				position: relative;
				width: 90px;
				margin-top: 10px;
				background-color: transparent;
				background-image: url(../images/frontend/star.png);
				background-repeat: repeat-x;
				float: left;

				a.movie-rating-star {
					border: medium none;
					height: 18px;
					left: 0;
					line-height: 18px;
					margin: 0;
					outline: medium none;
					overflow: hidden;
					padding: 0;
					position: absolute;
					text-indent: -1000em;
					top: 0;
					transition: none;
				}

				a.product-rating-star:hover,
				.movie-rating-stars a.movie-rating-star.rating-active {
					background-position: left bottom;
				}

				a.movie-rating-star-1 {
					width: 20%;
					z-index: 6;
				}

				a.movie-rating-star-2 {
					width: 40%;
					z-index: 5;
				}

				a.movie-rating-star-3 {
					width: 60%;
					z-index: 4;
				}

				a.movie-rating-star-4 {
					width: 80%;
					z-index: 3;
				}

				a.movie-rating-star-5 {
					width: 100%;
					z-index: 2;
				}

				a.movie-rating-star:hover,
				a.movie-rating-star.rating-active {
					background-position: left bottom;
				}

			}

			.movie-rating-stars li.movie-current-rating,
			.movie-rating-stars a.movie-rating-star {
				background-color: transparent;
				background-image: url(../images/frontend/star.png);
				background-position: left -1000px;
				background-repeat: repeat-x;

			}


			&.user-rate:hover {
				.movie-rating-stars {
					display: inline-block;
					margin-right: 15px;
				}

				ul.mv-rating-stars {
					display: none;
				}

			}

		}

		.rate {
			background: #FFAE00;
			border-radius: 50%;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			height: 45px;
			margin-left: 10px;
			line-height: 45px;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			width: 45px;
		}

		.entry-share {
			float: right;
			margin-top: 16px;

			label {
				font-size: 15px;
				font-weight: bold;
				color: #000;
				float: left;
			}

			ul {
				margin: 0;
				padding: 0;
				float: left;

				li {
					list-style: none;
					display: inline-block;
					padding-left: 10px;

					a {
						color: #999;

						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	}

	.entry-comment {
		margin-top: 30px;
	}
}

.single-cinema {
	.cinema-heading {
		margin: 40px 0 30px;
		text-align: center;

		.entry-content {
			color: #666;
			font-size: 15px;
		}
	}

	.entry-title {
		color: #000;
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 0;
	}

	.cinema-details {
		background: #f8f8f8;
		padding-bottom: 100px;

		.bg-dl {
			background: $theme-color none repeat scroll 0 0;
			display: block;
			height: 100px;
			margin: 0 auto;
			width: 50%;
		}

		.cinema-info {
			color: #fff;
			font-size: 15px;
			padding-top: 12px;
			text-align: center;
		}
	}

	.cinema-movie {
		margin-top: -50px;

		.comment-reply-title {
			display: none;
		}
		.comment-form {
			margin-top: 50px;
		}

		.amy-tab-nav {
			ul {
				border: none;

				li {
					a {
						border: none;
						font-size: 20px;
						color: #999;
					}

					&.active {
						border: none;

						a {
							color: #000;
						}
					}
				}
			}
		}

		.amy-tab-contents {

			.amy-ajax-content {
				@media screen and (max-width: 980px) {
					margin-top: 30px;
				}
			}
			.filter-mv {
				text-align: right;

				@media screen and (max-width: 980px) {
					margin-top: 40px;
					margin-bottom: 0;
				}


				&.style1 input.select-date {
					@media screen and (max-width: 980px) {
						width: 31%;
						margin-right: 15px;
					}

				}

				&.style1 {
					label {
						@media screen and (max-width: 980px) {
							width: 31%;
							margin-right: 15px;
						}
					}
				}

				label {
					&:nth-child(3) {
						display: none;
					}

					&:nth-child(5) {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.amy-genre {
	margin-top: 30px;
}

.amy-iframe {
	height: 0;
	padding-bottom: 56.25%;
	position: relative
}

.amy-iframe iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%
}

body {
	> .amy-iframe {
		padding: 0;
	}
}