

.amy-pagination {
	clear: both;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;

	a {
		color: $theme-color;
		border: 2px solid #f6f6f6;
		font-family: $font-family-base;
		font-weight: 700;
		font-size: 15px;
		margin: 0 5px 10px;
		padding: 7px 15px;
		border-radius: 3px;
		display: inline-block;

		&:hover {
			background: $theme-color;
			border-color: $theme-color;
			color: #fff!important;
		}
	}

	span.current {
		background: $theme-color;
		border: 2px solid $theme-color;
		color: #fff;
		font-family: $font-family-base;
		font-weight: 700;
		font-size: 15px;
		margin: 0 5px 10px;
		padding: 7px 15px;
		border-radius: 3px;
		display: inline-block;
	}
}
