

@media (max-width: 480px) {
	#amy-top-bar {
		display: none;
	}

	.site-header.has-search {
		.amy-mv-search {
			display: none;
		}
	}

	.single-movie {
		.entry-poster {
			float: none;
		}

		.entry-info {
			margin-left: 0;
			margin-top: 15px;
		}

		.entry-media {
			.number-media {
				position: static;
			}
		}

		.entry-showtime {
			.select-cinema {
				float: none;
				width: 100%;
			}

			.showtime {
				float: none;
				width: 100%;
				margin-left: 0;
				margin-top: 30px;
				padding: 20px;
			}
		}
	}

	.amy-mv-list {
		.entry-item {
			.entry-thumb {
				float: none;
			}

			.entry-content {
				margin-left: 0!important;
				margin-top: 15px;

				ul.info-list {
					margin: 15px 0 25px;
				}
			}
		}

		.showtime-btn {
			display: none;
		}
	}

	.amy-mv-grid {
		&.layout1 {
			.grid-item {
				width: 100%;
			}
		}
	}

	.filter-mv {
		label,
		input.select-date {
			width: 100%!important;
			margin-bottom: 15px;
		}
	}

	.amy-mv-ratelist {
		table {
			td {
				line-height: 30px;

				&.title {
					padding: 10px 5px;
					text-align: left;
					width: 30%;
				}

				&.turn {
					display: none;
				}

				&.point {
					font-size: 15px;
					width: 5%;
					padding: 0 5px;
				}
			}
		}
	}

	.amy-mv-showtime {
		.left,
		.right {
			float: none;
			width: auto;
		}

		.movie-list {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	.amy-actor {
		&.has-banner {
			.container {
				margin-top: 0;
			}
		}

		.actor-name {
			margin: 0 0 20px -41px;
		}
	}

	.amy-blog {
		&.amy-masonry {
			.main-content {
				.amy-row {
					margin-bottom: 0!important;
				}

				.entry-item {
					margin-bottom: 30px;

					&.out {
						.entry-title {
							a {
								color: #000;

								&:hover {
									color: $theme-color;
								}
							}
						}
					}

					.entry-excerpt {
						margin-top: 0;
					}
				}
			}
		}

		&.amy-grid  {
			.main-content {
				article {
					.entry-title {
						height: auto;
					}
				}
			}
		}
	}

	article.post {
		.entry-bottom {
			margin-top: 0;
		}

		.entry-meta {
			top: -50px;
		}

		.entry-left {
			margin: 0;
			padding-top: 65px;
		}
	}

	.single-cinema {
		.cinema-details {
			background: #fe7900;

			.bg-dl {

			}

			.cinema-gallery {
				margin-top: 0;
			}
		}

		.cinema-movie {
			margin-top: 0;
		}
	}



}

@media (min-width: 480px) and (max-width: 768px) {
	.amy-mv-showtime {
		.left,
		.right {
			width: 50%;
		}
	}
}

@media screen and (max-width: 980px) {
	#amy-top-bar {
		.amy-top-bar-left {
			.amy-module-text {
				display: none;
			}
		}
	}
}

@media (min-width: 980px) and (max-width: 1280px) {

}
