
#amy-top-bar {
	background: #000000 none repeat scroll 0 0;
	color: #8b8b8b;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			padding: 0 5px;
		}
	}

	a {
		color: #8b8b8b;

		&:hover {
			color: $theme-color;
		}
	}

	.amy-top-module {
		display: inline-block;

		&.amy-module-link,
		&.amy-module-text {
			padding: 10px 15px;

			> span {
				color: #8b8b8b;
			}
		}
	}
}

.box-user {
	padding: 10px 0;
	a {
		border-left: 1px solid #333333;
		display: inline-block;
		line-height: 8px;
		padding: 0 10px;
		font-size: 13px;
		color: #8b8b8b;

		&:first-child {
			border-left: none;
		}

		.fa {
			margin-right: 4px;
		}

		&.amy-fancybox:first-child {
			border-left: none;
		}
	}
}