

.amy-page-user {
	margin: 30px 0;
	font-size: 15px;
	text-align: center;

	.amy-social-login {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			display: inline-block;

			a.amy-social {
				background: #000 none repeat scroll 0 0;
				border-radius: 50%;
				color: #fff;
				display: block;
				font-size: 17px;
				height: 42px;
				line-height: 42px;
				margin: 0 3px;
				width: 42px;

				&:hover {
					color: $theme-color;
				}

				&.amy-fb {
					background: #4867a7;
				}

				&.amy-tw {
					background: #50bcfa;
				}

				&.amy-gg {
					background: #dc3547;
				}
			}
		}
	}

	.amy-tab {
		margin: 25px auto 0;
		max-width: 300px;
	}

	#amy-login {
		.login-username label,
		.login-password label {
			display: none;
		}

		p {
			margin: 0;
		}
	}

	#amy-register {
		.notice {
			margin-top: 10px;
		}
	}

	input[type="password"],
	input[type='text'] {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border-radius: 25px;
		border-width: 2px;
		margin-bottom: 15px;
	}
}

#amy-user-popup {
	display: none;
	min-width: 450px;

	.amy-social-login {
		margin: 0 0 15px;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;

			a {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				text-align: center;
				line-height: 30px;
				display: inline-block;
				margin-right: 3px;
				color: #fff;

				&.amy-fb {
					background: #4867a7;
				}

				&.amy-gg {
					background: #dc3547;
				}

				&.amy-tw {
					background: #50bcfa ;
				}
			}
		}
	}

	.amy-tab-content {
		input {
			margin-bottom: 10px;
		}
	}
}

