// theme variables
$theme-color:			#fe7900;

$font-weight-normal:	400;
$font-family-base:		'Roboto Condensed', sans-serif;

// forms
$input-bg:					#f1f1f1;
$input-border:				#dfdfdf;
$input-border-focus:		$theme-color;
$input-height-base:			40px;
$padding-base-vertical: 	6px;
$padding-base-horizontal:	15px;

$input-border-dark:				#fff;
$input-bg-dark:					transparent;
$input-color-dark:				#fff;
$input-color-placeholder-dark:	darken($input-color-dark, 5%);

// buttons
$button-default-color:			$theme-color !default;
$button-default-bg-color:		transparent;
$button-default-border:			#e1e1e1;
$button-default-hover-border:	darken($button-default-border, 10%);

$button-color:					#fff;

$button-primary-bg-color:		$theme-color;
$button-success-bg-color:		#5cb85c;
$button-info-bg-color:			#1ba39c;
$button-warning-color:			#f0ad4e;
$button-danger-color:			#d9534f;
$button-inverse-color:			#222;


// menu
$menu-font-family:					$font-family-base;
$menu-font-size:					16px;

$menu-level-1-wrapper-color:		null;
$menu-level-1-color:				#000;
$menu-level-1-bg-color:				null;
$menu-level-1-hover-color:			$theme-color;
$menu-level-1-hover-bg-color:		null;
$menu-level-1-border-radius:		null;

$menu-level-n-wrapper-width:		50px;
$menu-level-n-wrapper-color:		#000;
$menu-level-n-wrapper-box-shadow:	1px 1px 3px rgba(0, 0, 0, 0.2);
$menu-level-n-wrapper-transition:	margin .2s ease-in-out, opacity .2s ease-in-out, visibility 0.06s ease-in-out;
$menu-level-n-color:				#666;
$menu-level-n-bg-color:				null;
$menu-level-n-hover-color:			$theme-color;
$menu-level-n-hover-bg-color:		null;
$menu-level-n-seperator-color:		#161616;
