body,
html {
  direction: rtl;
}

.widget_tag_cloud .amy-widget-title h4,
.widget_archive .amy-widget-title h4,
.widget_calendar .amy-widget-title h4,
.widget_categories .amy-widget-title h4,
.widget_pages .amy-widget-title h4,
.widget_meta .amy-widget-title h4,
.widget_recent_comments .amy-widget-title h4,
.widget_recent_entries .amy-widget-title h4,
.widget_rss .amy-widget-title h4,
.widget_search .amy-widget-title h4,
.widget_text .amy-widget-title h4,
.widget_nav_menu .amy-widget-title h4 {
	right: 0;
}

article.post .entry-meta {
	left: 10px;
}

.amy-mv-list .entry-item .entry-thumb {
	float: right;
}

.filter-mv.style1 label,
.filter-mv.style1 input.select-date {
	margin-left: 40px;
	margin-right: 0;
}

.filter-mv.style1 label:last-child {
	margin-left: 0;
}

.amy-mv-list .entry-item .entry-content {
	margin-left: 0!important;
	margin-right: 232px;
}

ul.mv-rating-stars {
	float: right;
}

.amy-mv-list .entry-item .entry-content .mrate .mcount {
	left: auto;
	right: 3px;
}

.amy-mv-list .entry-item .entry-content .mrate .rate {
	left: auto;
	right: 105px;
}

.amy-mv-list .showtime-btn {
	left: 15px;
	right: auto;
}

.amy-mv-grid.layout3 .back .entry-rating .mcount {
	left: auto;
	right: 0;
}

.amy-mv-grid.layout2 .entry-rating .mcount {
	left: auto;
	right: 18px;
}

.single-movie .entry-action .rate {
	left: auto;
	right: 125px;
}

.single-movie .entry-action .mrate span.mcount {
	left: auto;
	right: 3px;
}

ul.mv-rating-stars {
	float: right;
}

.single-movie .entry-action .entry-share {
	float: left;
}

.single-movie .entry-media .number-media {
	left: 0;
	right: auto;
}