//--------------------------------------------------------
// THEME VARIABLES
//--------------------------------------------------------
$white-color:				#fff

$gradient-color-first: 		#bb511e
$gradient-color-last: 		#f1bc00

$dark-background-color:		#23292e
$dark-text-color:			#c0c6ca
$light-background-color:	$white-color
$light-text-color:			#5c6172

$blockquote-background-color: #f5f5f5

$meta-text-color:			#999999

$font-weight-bold:			700
$font-weight-normal:		400

$facebook-color:			#3b5998
$twitter-color:				#55acee
$google-plus-color:			#dd4b39
$youtube-color:				#bb0000
$linkedin-color:			#007bb5
$instagram-color:			#125688
$pinterest-color:			#cb2027
$tumblr-color:				#32506d

//--------------------------------------------------------
// BOOTSTRAP VARIABLES
//--------------------------------------------------------
$body-bg:				#f4f3f1
$text-color:			#666666
$font-family-base:		"Poppins", sans-serif
$font-size-base:		13px
$line-height-base:		1.7

$headings-font-family:	'Roboto Condensed', sans-serif
$headings-color:		#202020
$headings-font-weight:	700
$headings-line-height:	1.1

$blockquote-font-size:	$font-size-base

$link-color:			$theme-color
$link-hover-color:		lighten($theme-color, 10%)

$font-size-h1:			28px
$font-size-h2:			25px
$font-size-h3:			22px
$font-size-h4:			20px
$font-size-h5:			18px
$font-size-h6:			16px