RewriteEngine On
RewriteBase /

# Ako fajl ili folder postoji, posluži ga direktno
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Inače preusmjeri sve na index.html za React routing
RewriteRule ^ index.html [L]
